.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form {
  margin-top: 180px;
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}

.heading {
  text-align: center;
  margin: 0;
}
.text {

}
.item {

}
