.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form {
  margin-top: 180px;
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}

.heading {
  /* font-family: 'JetBrains Mono'; */
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F2F2F3;
  margin: 0;
}

.button {
  text-align: center;
  margin: 0;
}

.text {}

.contener {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.item {}

.link {
  /* font-family: 'JetBrains Mono'; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 8px;
  text-decoration: none;
  color: #4C4CFF;
}

.register {
  margin-bottom: 16px;
  color: #8585AD;
}

.resetPassword {
  color: #8585AD;
}
