.contener {
  width: 720px;
  height: 100%;
  display: flex;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.orderNumb {
  width: 520px;
  height: 120px;
  left: 100px;
  top: 120px;
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  font-size: 144px;
  line-height: 120px;
  background: #1C1C21;
  margin: 0;
  text-align: center;
}

.indificator {
  /*  font-family: JetBrains Mono; */
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #f2f2f3;
}

.link {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(50% 50% at 50% 50%, rgba(128, 26, 179, 0) 0%, rgba(76, 76, 255, 0.25) 100%);
  background-image: url(../../images/vector4.svg);
  background-position: center;
  background-size: cover;
}

.order {
  width: 520px;
  height: 24px;
  /* font-family: JetBrains Mono; */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #f2f2f3;
  margin-top: 60px;
  margin-bottom: 0;
}

.info {
  width: 520px;
  height: 24px;
  /* font-family: JetBrains Mono; */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #8585ad;
  margin-top: 8px;
  margin-bottom: 80px;
}
