.header {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
  box-sizing: border-box;
  font-family: JetBrains Mono;
  font-style: normal;
  font-weight: normal;
}
.linkHeader {
  display: flex;
}
.itemHeader {
  display: flex;
  margin-right: 20px;
  text-decoration: none;
}
.textHeader {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0 auto;
  margin-left: 9px;
  color: #f2f2f3;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.colorHeader {
  color: #8585ad;
}
